<a href="<?= e(Backend::url('louisj/tutoriels/tutoriels/update/'.$record->id)) ?>"
   class="btn btn-sm btn-warning"
   data-toggle="tooltip"
   title="Modifier">
    <i class="icon-edit"></i>
</a>

<span class="hidden" manage-id="<?= $record['id'] ?>" manage-model="document" web-path="<?= e(Backend::url('louisj/tutoriels/tutoriels/preview/'.$record->id)); ?>"></span>
