<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('louisj/tutoriels/tutoriels') ?>">Tutoriels</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <h1> <?= e($record->nom) ?> </h1>
    <div class="form-preview">
        <?php switch ($record->type->nom):
                case "Vidéo": ?>
                    <?php if (!is_null($record->document)): ?>
                        <video src="<?= e($record->document->getPath()) ?>" controls width="600"></video>
                        <h4> <?= e(strip_tags($record->description)) ?> </h4>
                    <?php else: ?>
                        <h4><p> Le tutoriel n'est pas prêt à l'utilisation, veuillez insérer une vidéo. </p></h4>
                    <?php endif ?>
                <?php break; ?>
                <?php case "Avec Documents": ?>
                <?php if (!is_null($record->document)): ?>
                    <div class="card" style="width: 30rem;">
                        <div class="card-header">
                            <h3><?= e($record->nom) ?></h3>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title"><b>Nom du document:</b> <i><?= e($record->document->getFilename()) ?></i></h4>
                            <p class="card-text"><?= e(strip_tags($record->description)) ?></p>
                            <a data-toggle="modal" href="#contentBasic" class="btn btn-primary">Visualiser le document</a>
                            <div class="control-popup modal fade" id="contentBasic" tabindex="-1" role="dialog">
                                <div class="modal-dialog" style="width: 75%;">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <iframe height="100%" width="100%" style="min-height: 800px;" src="<?= e($record->document->getPath()) ?>#zoom=100" frameborder="0"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="<?= e($record->document->getPath()); ?>"
                               target="_blank"
                               class="btn btn-primary"
                               data-toggle="tooltip"
                               title="Télécharger le fichier"
                               download="<?= e($record->document->getFilename()) ?>">
                                <i class="icon-download"></i>
                            </a>
                        </div>
                    </div>
                <?php else: ?>
                    <h4><p> Le tutoriel n'est pas prêt à l'utilisation, veuillez insérer un document. </p></h4>
                <?php endif ?>
                <?php break; ?>
                <?php case "Ecrits": ?>
                    <h4> <?php echo($record->contenu) ?> </h4>
                <?php break; ?>
                <?php default: ?>
                    <p> Vous n'avez pas inséré de document</p>
                <?php break; ?>
        <?php endswitch; ?>
    </div>


<?php else: ?>
    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
<?php endif ?>

<p>
    <a href="<?= Backend::url('louisj/tutoriels/tutoriels') ?>" class="btn btn-default oc-icon-chevron-left">
        <?= e(trans('backend::lang.form.return_to_list')) ?>
    </a>
    <a href="<?= e(Backend::url('louisj/tutoriels/tutoriels/update/'.$record->id)) ?>"
       class="btn btn-warning"
       data-toggle="tooltip"
       title="Modifier">
        <?= e('Modifier le tutoriel') ?>
    </a>
</p>
