<section id="jumbotron" class="m-t-2">
	<div class="jumbotron">
		<div class="container text-xs-center">
            {% placeholder jumbotron default %}
            
            <div class="main-footer">
                <div class="container">
                                
                <h3> Réseaux sociaux :</h3>
                                    
                <a href="https://twitter.com/Flameboy_139"><i class ="fa fa-lg fa-twitter"></i></a>
                <a href="https://www.youtube.com/channel/UC5V5KZLgV1foxATuF7yyERg"><i class ="fa fa-lg fa-youtube-play"></i></a>
                <a href="twitch.tv/Flameboy_"><i class ="fa fa-lg fa-twitch"></i></a>
                                
                <p> </p>
                <p> Louis Jullien - 2020</p>
                                
                </div>
                                
            </div>

			{% endplaceholder %}
		</div>
	</div>
</section>