description = "Navigation bar"
==
<section id="navbar" class="m-b-3">
	<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
		<div class="container">
			<a class="navbar-brand" href="http://pagetutoriels.test/">
				<img src="https://w0.pngwave.com/png/151/949/square-academic-cap-ico-graduation-ceremony-icon-mortarboard-s-png-clip-art.png" width="30" height="30" class="d-inline-block align-top" alt="">
				Tutoriels et Docs</a>
			<ul class="nav navbar-nav pull-xs-right">
				<li class="nav-item{{ this.page.baseFileName == 'movies' ? ' active' }}">
					<a class="nav-link" href="#">OK</a>
				</li>
				<li class="nav-item{{ this.page.baseFileName == 'genres' ? ' active' }}">
					<a class="nav-link" href="#">OK2</a>
				</li>
			</ul>
		</div>
	</nav>
</section>